* {
  margin: 0;
  padding: 0;
}

.container {
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.box_Container {
  min-width: 650px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #7945bd;
  box-shadow: 3px 6px 40px #000;
}

.header h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

.item_Input {
  outline: none;
  border: none;
  width: 460px;
  font-size: 20px;
  color: #000;
  padding: 15px;
  margin-right: 30px;
  background-color: #fff;
  border-radius: 10px;
}

.plus_Button {
  font-size: 20px;
  width: 70px;
  padding: 15px 15px;
  border-radius: 10px;
  border: 0;
  background-color: orange;
  cursor: pointer;
}

.plus_Button:hover {
  background-color: #000000b7;
  color: #fff;
}

.list_Item {
  display: flex;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid yellowgreen;
  background-color: #b1d6d1;
  max-height: 30px;
  padding: 10px;
}

.complete_Btn,
.edit_Btn,
.delete_Btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 28px;
  background-color: transparent;
  border-radius: 50%;
}

.complete_Btn {
  color: rgb(40, 187, 40);
  margin-left: 20px;
  margin-right: 20px;
}

.edit_Btn {
  margin-left: 20px;
  margin-right: 20px;
}

.delete_Btn {
  color: rgb(255, 5, 5);
  margin-left: 20px;
  margin-right: 20px;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: red;
  opacity: 0.6;
}

.list {
  width: 340px;
  background-color: #b1d6d1;
  border: none;
  color: #000;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 15px;
}

input:focus,
button:focus {
  outline: none;
}
